.people-card-showcase {
	width: 185px !important;
	height: 200px !important;
	margin: 5px;
	padding: 10px;
	border-radius: 5px;
	background-color: #555;
	box-shadow: 4px 5px 15px rgba(0, 0, 0, 0.25);
	transition: all 0.3s ease-in-out;
	
	h3 {
		color: #eee;
	}
}

.people-card-showcase:hover {
	background-color: #666;
}
